<!-- user.ejs code -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User list</title>
    <style>
        body{
            background-color: beige;
            color: black;
            font-family: Georgia, 'Times New Roman', Times, serif;

        }
        table, th, td {
        border: 2px solid black;
        text-align: center;
        }
        #edit,#delete{
            width: 100%;
            background-color: ghostwhite;
            color: black;
        }
        #add{
            height: 40px;
            width: 80px;
            background-color: chocolate;
            font-weight: 700;
            font-style: italic;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>S.no</th>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Edit Username</th>
            <th>Delete Account</th>
        </tr>
        <% for (let i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= data[i].id %></td>
                <td><%= data[i].username %></td>
                <td><%= data[i].email %></td>
                <td>
                    <form method="get" action="/user/<%= data[i].id %>/edit">
                        <button id="edit">Edit</button>
                    </form>
                </td>
                <td>
                    <form method="get" action="/user/<%=data[i].id%>/delete">
                        <button id="delete">Delete</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>
    <br> <br>
    <form method="get" action="/user/new">
        <button id="add">Add</button>
    </form>
</body>
</html>